
<div class="panel panel-default">
    <div class="panel-heading">
        Team Details
    </div>

    <div class="panel-body">

        <!-- Name -->
        <div class="form-group">
            <input
                type="text"
                ng-model="group.name"
                placeholder="Name"
                class="form-control"
                required>
        </div>

        <!-- Sport -->
        <!-- <div class="row form-group">
            <div class="col-sm-4 col-md-2">
                Sport
            </div>
            <div class="col-sm-8">
                <select ng-model="group.sport_id" class="form-control" required>
                    <option
                        ng-repeat="sport in sports"
                        ng-selected="sport.id === group.sport_id"
                        value="{{ sport.id }}">
                        {{ sport.name }}
                    </option>
                </select>
            </div>
        </div> -->
    </div>
</div>
