
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="page screening-page">
    <header>
        <h1>
            Live Test <i class="fa fa-list-alt"></i>
            <span></span>
        </h1>

        <!-- Append profile name to page title -->
        <div ng-if="screening.id > 0" class="h1-append">
            <a ng-click="resetScreening()" href="javascript:;">
                (save and close)
            </a>
        </div>
    </header>

    <div ng-if="!global.data.isFetchingLiveScreening && screening.id > 0" class="page-padded">

        <!-- Container -->
        <div class="row no-gutter screening-container">

            <!-- Test title -->
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="title">
                        <ui-editable-standalone-field
                            data-model="screening"
                            data-key="title"
                            data-empty="Title"
                            data-input-type="text"
                            data-save="saveScreening"
                            data-save-callback="saveScreeningCallback">
                        </ui-editable-standalone-field>

                        <span></span>
                    </h3>
                </div>
            </div>
            <br>

            <!-- Movement views -->
            <div class="col-lg-9">

                <div class="row no-gutter">
                    <div class="col-lg-5 screening-example-view">
                        <ui-movement-playback
                            data-title="screeningMovement.title"
                            data-title-align="center"
                            data-height="'600px'"
                            data-previous-movement="previousMovement"
                            data-next-movement="nextMovement">
                        </ui-movement-playback>
                    </div>

                    <div class="col-lg-7 screening-live-view">
                        <ui-movement-playback
                            data-title="'Live View'"
                            data-height="'600px'"
                            data-previous-movement="false"
                            data-next-movement="false">
                        </ui-movement-playback>
                    </div>
                </div>

                <div class="row screening-meta">

                    <!-- Profile details -->
                    <div class="col-lg-5">
                        <div class="row no-gutter">
                            <div class="col-md-5">
                                <a
                                    href="#/profiles/{{ profile.id }}"
                                    class="aspect-ratio aspect-4-3 card profile-avatar"
                                    style="background-image: url({{ profile.avatarSrc || '' }})">
                                </a>
                            </div>

                            <div class="col-md-7">
                                <div class="profile-details">
                                    <div>
                                        <a href="#/profiles/{{ profile.id }}">
                                            {{ profile.lastName.toUpperCase() }}
                                        </a>
                                    </div>

                                    <!-- Main group -->
                                    <div ng-if="profile.groups.length > 0">
                                        <a href="#/groups/{{ profile.groups[0].id }}">
                                            {{ profile.groups[0].name }}
                                        </a>
                                    </div>

                                    <!-- Test date -->
                                    <div>
                                        Tested on: {{ screening.createdAt | mysqlDate:'d / M / yyyy' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 screening-details">

                        <!-- Screening title edit field -->
                        <div class="row">
                            <div class="col-sm-12">
                                <ui-editable-standalone-field
                                    data-model="screeningMovement"
                                    data-key="title"
                                    data-empty="Title"
                                    data-input-type="text"
                                    data-save="saveScreeningMovement"
                                    data-save-callback="saveScreeningMovementCallback">
                                </ui-editable-standalone-field>
                            </div>
                        </div>

                        <!-- Scoring, Saving -->
                        <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                            <div class="col-sm-12">

                                <!-- Latest movements (demo) -->
                                <div class="screening-latest-movement-demo"></div>

                                <div class="screeening-scoring-container">

                                    <!-- Pain indicator -->
                                    <a
                                        href="javascript:;"
                                        class="btn-score text-danger">

                                        <i class="fa fa-dot-circle-o"></i>
                                        <span>Pain</span>
                                    </a>

                                    <!-- Scoring -->
                                    <a
                                        ng-repeat="score in [0, 1, 2, 3]"
                                        ng-click="setScore(screeningMovement, score)"
                                        href="javascript:;"
                                        class="btn-score">

                                        <i
                                            ng-if="screeningMovement.meta.score != score"
                                            class="fa fa-circle-o"></i>
                                        <i
                                            ng-if="screeningMovement.meta.score == score"
                                            class="fa fa-dot-circle-o"></i>

                                        <span>{{ score }}</span>
                                    </a>

                                    <!-- Actions -->
                                    <a
                                        ng-if="!global.data.isRecordingLiveScreening"
                                        ng-click="startLiveRecording()"
                                        href="javascript:;"
                                        class="btn-flat btn-danger">

                                        <i class="fa fa-video-camera"></i>
                                        <span>Record</span>
                                    </a>
                                    <a
                                        ng-if="global.data.isRecordingLiveScreening"
                                        ng-click="pauseLiveRecording()"
                                        href="javascript:;"
                                        class="btn-flat btn-danger">

                                        <i class="fa fa-pause"></i>
                                        <span>Pause</span>
                                    </a>
                                    <a
                                        ng-if="!global.data.isSavingLiveScreeningScore"
                                        ng-click="saveScreeningScore()"
                                        href="javascript:;"
                                        class="btn-flat btn-default">

                                        <i class="fa fa-floppy-o"></i>
                                        <span>Save</span>
                                    </a>
                                    <a
                                        ng-if="global.data.isSavingLiveScreeningScore"
                                        href="javascript:;"
                                        class="btn-flat btn-default">

                                        <i class="fa fa-spinner fa-spin"></i>
                                        <span>Saving</span>
                                    </a>
                                    <a
                                        href="javascript:;"
                                        class="btn-flat btn-default">

                                        <i class="fa fa-trash"></i>
                                        <span>Delete</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Screening notes edit field -->
                        <div class="row">
                            <div class="col-sm-12">
                                <ui-editable-standalone-field
                                    data-model="screeningMovement.meta"
                                    data-key="notes"
                                    data-empty="Notes:"
                                    data-input-type="textarea"
                                    data-save="saveScreeningMovement"
                                    data-save-callback="saveScreeningMovementCallback">
                                </ui-editable-standalone-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Test list and progress -->
            <div class="col-lg-3">
                <div class="col-sm-12">
                    <div class="screening-progress">

                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="screening-progress-heading">
                                    <div class="movement-title active">Test</div>
                                    <div class="movement-score">Score</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="divider-dot"></div>
                                <div class="divider-end"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div
                                    ng-repeat="movement in screening.movements track by movement.id"
                                    class="screening-progress-movement-row">

                                    <a
                                        ng-click="setScreeningMovement(movement)"
                                        href="javascript:;"
                                        class="movement-title"
                                        ng-class="{active: movement.id == screeningMovement.id}">

                                        {{ movement.title }}
                                    </a>

                                    <div class="movement-score">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="divider-end"></div>
                                <div class="divider-dot"></div>
                            </div>
                        </div>

                        <!-- Score -->
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>

                        <!-- Percent completion -->
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Select a screening template -->
    <div ng-if="!global.data.isFetchingLiveScreening && screening.id === 0">

        <!-- Create a screening -->
        <div
            ng-show="global.getSelectedProfile().id > 0 && !global.data.isPreparingNewScreening"
            class="text-center">

            <a
                ng-click="createFunctionalMovementScreening()"
                href="javascript:;"
                class="btn btn-primary btn-circle btn-lg">

                <i class="fa fa-plus"></i>
            </a>

            <h3>
                Start a movement test for
                <em>
                    {{ global.getSelectedProfile().firstName }}
                    {{ global.getSelectedProfile().lastName }}
                </em>.
            </h3>
            Go ahead and use the <i class="fa fa-plus fa-lg fa-fw"></i> button above to start.
        </div>

        <!-- Select a profile -->
        <div ng-show="global.getSelectedProfile().id === 0 && !global.data.isPreparingNewScreening">
            <div ng-include="'partials/select-profile.html'"></div>
        </div>

        <!-- Preparing screening records -->
        <div ng-show="global.data.isPreparingNewScreening" class="loading-notice">
            <h2>Preparing your test.</h2>
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
    </div>

    <!-- Loading screening data -->
    <div ng-if="global.data.isFetchingLiveScreening">
        <ng-include src="'partials/loading.html'"></ng-include>
    </div>
</div>
