#Ignore dist folder and node_modules folder

Dashboards/User Dashboard/node_modules
Dashboards/User Dashboard/dist

Dashboards/Team Management Dashboard/node_modules
Dashboards/Team Management Dashboard/dist