
<div class="page movements-page">
    <ui-page-title data-title="'Organize'" data-icon="'th'"></ui-page-title>
    <div class="clearfix"></div>

    Recent Movements

    <div class="row grid">
        <div ng-repeat="temp in [1,2,3,4,5,6,7,8,9,10]" class="col-sm-6 col-md-4 col-lg-3">
            <div class="aspect-ratio aspect-4-3 active-element text-center">
                <div>

                    <!-- Movement preview -->
                    <ui-movement-preview data-aspect-ratio="4:3"></ui-movement-preview>

                    <div class="tools text-left">

                        <!-- Movement date -->
                        <span style="color: #aaa">
                            Nov 2, 1:30 pm
                        </span>
                        <br>

                        <!-- Movement title -->
                        <span>
                            Movement # {{ temp }}
                        </span>

                        <!-- Movement actions -->
                        <div class="pull-right">
                            <div class="btn-group hidden-tools">
                                <button
                                    type="button"
                                    class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="caret"></i>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#/analyze">Analyze</a>
                                    </li>
                                    <li>
                                        <a href="#/compare">Compare</a>
                                    </li>
                                    <li>
                                        <a ng-click="shareMovement()" href="javascript:;">Share</a>
                                    </li>
                                    <li>
                                        <a ng-click="editMovement()" href="javascript:;">Edit</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a
                                            ng-click="deleteMovement()"
                                            href="javascript:;">

                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
