
<ol class="breadcrumb-alt">
    <li>
        <a class="active" href="javascript:;" ng-click="Rover.browseTo.groups()">
            Teams
        </a>
    </li>
    <li ng-show="params.groupId">
        <a class="active" href="javascript:;" ng-click="Rover.browseTo.group(data.group.selected)">
            {{ data.group.selected.name }}
        </a>
    </li>
    <li ng-show="params.memberId">
        <a class="active" href="javascript:;" ng-click="Rover.browseTo.member(data.member.selected)">
            {{ data.member.selected.first_name }}
        </a>
    </li>
</ol>
