
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Add an athlete</h2>

        <!-- Athlete picture -->
        <div class="col-sm-2">
            <a href="javascript:;" class="btn btn-primary btn-metro btn-metro-sm">
                <object type="image/svg+xml" data="/images/sports/1.svg"/>
            </a>
        </div>

        <!-- Athlete details -->
        <div class="col-sm-10">
            <form ng-submit="submitNewAthleteForm()">

                <!-- First name -->
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        ng-model="data.athlete.new.first_name"
                        placeholder="First Name"
                        required>
                </div>

                <!-- Last name -->
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        ng-model="data.athlete.new.last_name"
                        placeholder="Last Name"
                        required>
                </div>

                <!-- Height -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2">
                            Height
                        </div>
                        <div class="col-xs-5">
                            <input
                                class="form-control"
                                ng-model="data.athlete.new.feet"
                                placeholder="Feet"
                                type="number"
                                min="1" max="10"
                                required>
                        </div>
                        <div class="col-xs-5">
                            <input
                                class="form-control"
                                ng-model="data.athlete.new.inches"
                                placeholder="Inches"
                                type="number"
                                min="0" max="11"
                                required>
                        </div>
                    </div>
                </div>

                <!-- Weight -->
                <div class="form-group">
                    <input
                        class="form-control"
                        ng-model="data.athlete.new.weight_lbs"
                        placeholder="Weight (lbs)"
                        type="number"
                        min="50" max="500"
                        required>
                </div>

                <!-- Age -->
                <div class="form-group">
                    <input
                        class="form-control"
                        ng-model="data.athlete.new.age"
                        placeholder="Age"
                        type="number"
                        min="1" max="100"
                        required>
                </div>

                <button type="submit" class="btn btn-info pull-right">Submit</button>
            </form>
        </div>
    </div>
</div>
