
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div ng-show="state == 'idle'" class="ui-editable-field-value">

    <!-- Displayed value -->
    <a ng-if="!isDisabled" ng-click="edit()" href="javascript:;" class="edit-text">
        {{ timestamp | date:format }}
    </a>
    <span ng-if="isDisabled">
        {{ timestamp | date:format }}
    </span>

    <!-- Edit icon -->
    <a ng-if="!isDisabled" ng-click="edit()" href="javascript:;" class="edit-icon fa fa-pencil"></a>
    <i ng-if="isDisabled" class="edit-icon fa fa-ban"></i>

</div>

<div ng-show="state == 'saving'" class="ui-editable-field-value ui-editable-fields-muted">
    {{ timestamp | date:format }}
    <i class="fa fa-spinner fa-spin fa-fw"></i>
</div>
