
<div class="panel-heading text-center">
    Movement Overview
</div>

<div class="panel-body">
    <div>
        <div class="text-left col-sm-12">
            <h2 style="margin:0";>
                <b style="font-size:40%">Left</b>
            </h2>
        </div>
    </div>
    <div class="panel-body col-sm-12">
        <img
            ng-src="{{ '../../../../demo/aslr/summary/heat_map_left.png' }}"
            style="height:100%;display:block;margin:auto;">
    </div>
    <div>
        <div class="text-left col-sm-12">
            <h2 style="margin:0">
                <b style="font-size:40%">Right</b>
            </h2>
        </div>
    </div>
    <div class="panel-body col-sm-12">
        <img
            ng-src="{{ '../../../../demo/aslr/summary/heat_map_left.png' }}"
            style="height:100%;display:block;margin:auto;">
    </div>
</div>
