
<div class="panel-heading text-center">
    Overall Score
</div>

<div class="panel-body text-left">

    <!-- Total score -->
    <div class="row">
        <div class="col-sm-12">
            Total Test Score
        </div>
    </div>

    <br>

    <div class="row ">
        <div class="col-sm-12 no-gutter">
            <div class="col-sm-1" style="background-color: #f48b4a">&nbsp;</div>
            <div class="col-sm-1" style="background-color: #ed3941">&nbsp;</div>
            <div class="col-sm-2" style="background-color: #89c443">&nbsp;</div>
            <div class="col-sm-1" style="background-color: #ed3941">&nbsp;</div>
            <div class="col-sm-2" style="background-color: #89c443">&nbsp;</div>
            <div class="col-sm-4 text-center" style="background-color: black; color: white">15/21</div>
        </div>
    </div>

    <br>

    <!-- Movement Efficiency -->
    <div class="row">
        <div class="col-sm-12 text-left">
            Movement Efficiency
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div style="position: relative; margin: 0 auto; height: 120px; width: 120px;">
                <div class="c100 p71 green">
                    <span>71%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
