
<div class="col-sm-12 panel-group">

    <div class="col-sm-9 no-gutter panel panel-default" style="padding-left: 0px; height: 700px;">
            <div class="col-sm-3" style="height: 700px;">
                <ng-include src="'fms/demo/partials/summary-menu.html'"></ng-include>
            </div>

            <!-- Demo summary content -->
            <div class="col-sm-9" style="height: 700px;">
                <ng-include src="'fms/demo/partials/summary-content.html'"></ng-include>
            </div>
    </div>

    <div class="col-sm-3">

        <!-- Movement overview -->
        <div class="col-sm-12 panel panel-default">
            <ng-include src="'fms/demo/partials/summary-movement-overview.html'"></ng-include>
        </div>

        <!-- Overall score -->
        <div class="col-sm-12 panel panel-default">
            <ng-include src="'fms/demo/partials/summary-overall-scores.html'"></ng-include>
        </div>

        <!-- Legend -->
        <div class="col-sm-12 panel panel-default">
            <ng-include src="'fms/live/partials/summary-legend.html'"></ng-include>
        </div>
    </div>
</div>
