
<div class="panel-heading text-center">
    Thresholds
    <br>
    <small style="font-size: 0.8em; color: #aaa; text-transform: none;">
        (in degrees)
    </small>
</div>
<div class="panel-body">

    <div class="row no-gutter" style="margin:0; height:32px; color:#89c443;">
        <div class="col-sm-3">
            <b>0-5&deg;</b>
        </div>
        <div class="col-sm-9">
            <b>Within reasonable movement standards</b>
        </div>
    </div>

    <div class="row no-gutter" style="margin:0;height:32px;color:#f48b4a;">
        <div class="col-sm-3">
            <b>5-15&deg;</b>
        </div>
        <div class="col-sm-9">
            <b>Area of concern</b>
        </div>
    </div>
    <div class="row no-gutter" style="margin:0;height:32px;color:#ed3941;">
        <div class="col-sm-3">
            <b>15&deg;+</b>
        </div>
        <div class="col-sm-9">
            <b>Area to address</b>
        </div>
    </div>
</div>
