
<div
    data-ui-editable-list-container
    data-model="global.state.group.selected"
    data-save="saveGroupDetails"
    data-save-callback="saveGroupDetailsCallback"
    data-heading="{{ global.state.group.selected.name }}'s details">

    <!-- Group name -->
    <div
        data-ui-editable-list-item
        data-label="Name"
        data-key="name"
        data-required="true">
    </div>

    <!-- Tags -->
    <div
        data-ui-editable-list-item
        data-label="Sport"
        data-key="tags"
        data-type="tag">
    </div>
</div>
