/**
 *
 * Copyright Heddoko(TM) 2015, all rights reserved.
 *
 *
 *    - General CSS
 */

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    overflow: hidden;
}
html.auth-register {
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: $text-color;
    background-color: $background-color;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

::selection {
  background: $heddokogreen;
  color: #fff;
}

::-moz-selection {
  background: $heddokogreen;
  color: #fff;
}

span.block {
  display: block;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover, a:focus {
  color: #0d0d0d;
  text-decoration: underline;
}

.img-responsive {
  width: 100%  \9;
}

.img-rounded {
  @include border-radius(0px);
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

/*
 * Typography
 */
p.small{
    font-size: 10px;
}

p.medium {
    font-size: 12px;
}

h4, .h4 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

mark, .mark {
  background-color: #fffbef;
  padding: .2em;
}

$text-colors:(
    primary:$orange,
    theme:$orange,
    success:$green,
    info:$blue,
    warning:$warning,
    danger:$danger,
    violet:$info-alt,
    dark:$blue-dark
);
@each $text-class, $text-color in $text-colors {
    .text-#{$text-class} {
        color: $text-color;
    }

    a.text-#{$text-class}:hover{
        color: $text-color;
    }

    a.bg-#{$text-class} {
        background-color: $text-color;
        color: #fff;
    }

    a.bg-#{$text-class}:hover {
        background-color: $text-color;
        color: #fff;
    }

    .bg-#{$text-class} {
        background-color: $text-color;
        color: #fff;
    }
}

.bg-bright {
  background-color: #fafafa;
  color: #767676;
}

.bg-reverse {
  background-color: #fff;
  color: #767676;
}

blockquote {
  border-left: 5px solid $orange;
}

.blockquote-reverse, blockquote.pull-right {
  border-right: 5px solid $orange;
}

kbd {
  @include border-radius(0px);
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  @include box-shadow(none);
}

pre {
  @include border-radius(0px);
}


.gradient-text {
  font-size: 150px;
  font-weight: 300;
  color: $orange;
  background: -webkit-linear-gradient(92deg, #fb83fa, #00aced);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-small {
  font-size: 12px;
}

.text-normal {
  font-size: 14px;
}

.text-huge {
  font-size: 72px;
}

.text-large {
  font-size: 50px;
}

.size-h1 {
  font-size: 36px;
}

.size-h2 {
  font-size: 30px;
}

.size-h3 {
  font-size: 24px;
}

.size-h4 {
  font-size: 18px;
}

.text-thin {
  font-weight: 300;
}

.text-ultralight {
  font-weight: 100;
}

$text-colors:(
    primary:$orange,
    theme:$orange,
    success:$green,
    info:$blue,
    warning:$warning,
    danger:$danger,
    info-alt:$info-alt,
    dark:$blue-dark
);
@each $text-class, $text-color in $text-colors {
    .color-#{$text-class} {
        color: $text-color;
    }
}

.color-reverse {
  color: #fff;
}

.color-gray-darker {
  color: #222;
}

.color-gray-dark {
  color: #333;
}

.color-gray {
  color: #3F4245;
}

.color-gray-light {
  color: #999;
}

.color-gray-lighter {
  color: #eee;
}

.dropcap, .dropcap-square, .dropcap-circle {
    display: block;
    float: left;
    font-weight: normal;
    line-height: 36px;
    margin-right: 6px;
    text-shadow: none;
}

.dropcap {
    font-size: 3.1em;
}

.dropcap-square, .dropcap-circle {
  background-color: #444;
  color: #fff;
  width: 36px;
  text-align: center;
}

.dropcap-square {
  @include border-radius(0px);
  font-size: 2.3em;
}

.dropcap-circle {
  @include border-radius(50%);
  font-size: 1.78em;
}

.dropcap.colored {
  color: $orange;
}

.dropcap-square.colored, .dropcap-circle.colored {
  background-color: $orange;
}

.highlight {
    background-color: $orange;
    color: #fff;
    @include border-radius(0px);
    padding: 2px 5px;
}
