<header class="clearfix">
	<div class="top-nav">
		<ul class="nav-left list-unstyled">

            <!-- Menu button (shows up in mobile views) -->
			<li>
				<div class="menu-button" toggle-off-canvas>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>
			</li>

            <!-- Menu button (shows up on desktop views) -->
			<!-- <li>
				<a href="#/" data-toggle-min-nav class="toggle-min">
                    <i class="fa fa-bars"></i>
                </a>
			</li> -->

            <!-- Spacer, to account for space lost by removing menu button -->
            <li style="display: block; width: 20px; height: 1px;"></li>

            <!-- Group dropdown -->
            <!-- Generally, we want to keep the user from selecting another group while we're loading data -->
			<li
                class="onboarding-general"
                data-step="2"
                data-intro="Here is where you can find the groups you manage.">

                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        ng-hide="global.data.isFetchingGroups"
                        ng-disabled="global.data.isFetchingProfiles"
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        {{ global.getSelectedGroup().name || '(no team selected)' }}
                        <span ng-hide="global.data.isFetchingProfiles" class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul
                        ng-hide="global.data.isFetchingGroups || global.data.isFetchingProfiles"
                        class="dropdown-menu">

                        <li>
                            <a href="javascript:;" ng-click="global.store.groupId = 0">
                                (none)
                            </a>
                        </li>
                        <li ng-repeat="(id, group) in global.state.group.list">
                            <a href="javascript:;" ng-click="global.store.groupId = group.id">
                                {{ group.name }}
                            </a>
                        </li>
                    </ul>

                    <!-- Loading animation, indicating that groups are being fetched -->
                    <button
                        ng-show="global.data.isFetchingGroups"
                        type="button"
                        class="btn btn-info"
                        disabled>

                        <i class="fa fa-spinner fa-spin"></i>
                    </button>

                    <!-- Link to group page -->
                    <button
                        ng-hide="global.store.groupId === 0 || global.data.isFetchingGroups"
                        ng-click="global.browseTo.group()"
                        type="button"
                        class="btn btn-info"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Team page">

                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </li>

            <!-- Profile dropdown -->
			<li
                class="onboarding-general"
                data-step="3"
                data-intro="Here is where you can find the profiles you manage. If a team is
                            selected, the profiles listed will be restricted to that team.">

                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        ng-hide="global.state.profile.filtered.length === 0"
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        <span ng-show="global.store.profileId > 0">
                            {{ global.getSelectedProfile().first_name }}
                            {{ global.getSelectedProfile().last_name }}
                        </span>
                        <span ng-show="global.store.profileId === 0">
                            {{ '(no athlete selected)' }}
                        </span>

                        <span class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul ng-hide="global.state.profile.filtered.length === 0" class="dropdown-menu">
                        <li>
                            <a href="javascript:;" ng-click="global.store.profileId = 0">
                                (none)
                            </a>
                        </li>
                        <li ng-repeat="profile in global.state.profile.filtered">
                            <a href="javascript:;" ng-click="global.store.profileId = profile.id">
                                {{ profile.first_name +' '+ profile.last_name }}
                            </a>
                        </li>
                    </ul>

                    <!-- Loading animation, indicating that profiles are being fetched -->
                    <button
                        ng-show="global.data.isFetchingProfiles"
                        type="button"
                        class="btn btn-info"
                        disabled>

                        <i class="fa fa-spinner fa-spin"></i>
                    </button>

                    <!-- Link to profile page -->
                    <button
                        ng-show="global.state.profile.filtered.length > 0 &&
                            global.store.profileId > 0 && !global.data.isFetchingProfiles"
                        ng-click="global.browseTo.profile()"
                        type="button"
                        class="btn btn-info"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Athlete page">

                        <i class="fa fa-angle-double-right"></i>
                    </button>

                    <!-- Create new profile button -->
                    <button
                        ng-show="global.state.profile.filtered.length === 0 && !global.data.isFetchingProfiles"
                        ng-click="global.browseTo.path('/profile/create')"
                        type="button"
                        class="btn btn-default">

                        Create profile
                    </button>
                </div>
			</li>

            <li ng-show="global.isLocal">
                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        Dev
                        <span class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;">
                                Total groups: {{ global.state.group.list.length }} /
                                Selected: {{ global.getSelectedGroup().name || 'None' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Total profiles: {{ global.state.profile.list.length }} /
                                Selected (callback): {{ global.getSelectedProfile().first_name || 'None' }} /
                                Selected (local): {{ global.store.profileId }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"data-toggle="modal" data-target="#overlay-screen">
                                Overlay Test
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
		</ul>

        <ul class="nav-right list-unstyled">

            <!-- Search input -->
            <li ng-controller="SearchController">
                <div class="input-group search-input">
                    <div class="input-group-btn">
                        <button
                            type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                            <span ng-class="'fa fa-' + selectedFilter.icon"></span>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li ng-repeat="filter in filters track by filter.name">
                                <a ng-click="filterBy(filter)" href="javascript:;">
                                    <span ng-class="'fa fa-' + filter.icon"></span> {{ filter.label }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <selectize
                        ng-model="model"
                        class="form-control"
                        config="config"
                        options="options">
                    </selectize>
                </div>
            </li>
            <li>
                <div class="btn-group">

                    <!-- Settings -->
                    <button
                        ng-click="global.browseTo.config()"
                        class="btn btn-default onboarding-general"
                        data-step="4"
                        data-intro="Click this button to edit your settings">

                        <i class="fa fa-cog fa-fw"></i>
                    </button>

                    <!-- Onboarding -->
                    <button
                        ng-click="global.onboarding.general()"
                        type="button"
                        class="btn btn-default onboarding-general"
                        data-step="6"
                        data-intro="Click here whenever you want to see this again">

                        <i class="fa fa-question fa-fw"></i>
                    </button>

                    <!-- Sign out -->
                    <button
                        ng-click="global.endSession()"
                        type="button"
                        class="btn btn-logout onboarding-general"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-step="5"
                        data-intro="Use this button when you're ready to log out"
                        title="Logout">

                        <i class="fa fa-sign-out fa-fw"></i>
                    </button>
                </div>
            </li>
        </ul>

	</div>
</header>
