<header class="clearfix">
	<div class="top-nav">
		<ul class="nav-left list-unstyled">

            <!-- Menu button (shows up in mobile views) -->
			<li>
				<div class="menu-button" toggle-off-canvas>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>
			</li>

            <!-- Menu button (shows up on desktop views) -->
			<li>
				<a href="#/" data-toggle-min-nav class="toggle-min">
                    <i class="fa fa-bars"></i>
                </a>
			</li>
		</ul>

        <ul class="nav-right list-unstyled">

            <!-- Search input -->
            <li>
                <div ng-controller="SearchController" class="search-input">
                    <selectize
                        ng-model="model"
                        class="form-control"
                        config="config"
                        options="options">
                    </selectize>
                </div>
            </li>
            <li>
                <div class="btn-group">

                    <!-- Dev -->
                    <div ng-show="global.isLocal" class="btn-group">

                        <!-- Face of dropdown -->
                        <button
                            type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                            <i class="fa fa-code"></i>
                        </button>

                        <!-- Contents of dropdown -->
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;">
                                    Total groups: {{ global.state.group.list.length }} /
                                    Selected: {{ global.getSelectedGroup().name || 'None' }}
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Total profiles: {{ global.state.profile.list.length }} /
                                    Selected (callback): {{ global.getSelectedProfile().first_name || 'None' }} /
                                    Selected (local): {{ global.store.profileId }}
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"data-toggle="modal" data-target="#overlay-screen">
                                    Overlay Test
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Settings -->
                    <button
                        ng-click="global.browseTo.path('/config')"
                        class="btn btn-default onboarding-general"
                        data-step="4"
                        data-intro="Click this button to modify your app settings">

                        <i class="fa fa-cogs fa-fw"></i>
                    </button>

                    <!-- Onboarding -->
                    <button
                        ng-click="global.onboarding.general()"
                        type="button"
                        class="btn btn-default onboarding-general"
                        data-step="6"
                        data-intro="Click here whenever you want to see this again">

                        <i class="fa fa-question fa-fw"></i>
                    </button>

                    <!-- Sign out -->
                    <button
                        ng-click="global.endSession()"
                        type="button"
                        class="btn btn-logout onboarding-general"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-step="5"
                        data-intro="Use this button when you're ready to log out"
                        title="Logout">

                        <i class="fa fa-sign-out fa-fw"></i>
                    </button>
                </div>
            </li>
        </ul>

	</div>
</header>
