
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="logo">
    <div class="logo-container">
        <img src="../../images/logo/heddoko_logo_1.svg" alt="Heddoko" class="logo1">
        <img src="../../images/logo/heddoko_logo_2.svg" alt="Heddoko" class="logo2">
    </div>
</div>

<div id="nav-wrapper">
    <ul id="nav" data-slim-scroll data-collapse-nav data-highlight-active>

        <!-- Landing page -->
        <li
            class="onboarding-general"
            data-step="1"
            data-intro="This is a shortcut to your dashboard."
            data-position="right">

            <a href="#/dashboard">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- List of groups -->
		<li>
            <a href="#/group/list">
                <i class="fa fa-cubes"></i>
                <span>Teams</span>
                <span class="pull-right">
                    <i ng-show="global.data.isFetchingGroups === true" class="fa fa-spinner fa-spin"></i>
                    <small ng-show="!global.data.isFetchingGroups">
                        ( {{ global.state.group.list.length }} )
                    </small>
                </span>
            </a>
        </li>

        <!-- List of athletes -->
		<li>
            <a href="#/profile/list">
                <i class="fa fa-users"></i>
                <span>Athletes</span>
                <span class="pull-right">
                    <i ng-show="global.data.isFetchingProfiles === true" class="fa fa-spinner fa-spin"></i>
                    <small ng-show="!global.data.isFetchingProfiles">
                        ( {{ global.state.profile.list.length }} )
                    </small>
                </span>
            </a>
        </li>

        <!-- List of movements -->
		<li>
            <a href="#/movements">
                <i class="fa fa-th"></i>
                <span>Movements</span>
            </a>

            <ul style="display: block">
                <li>
                    <a href="#/movements">
                        <i class="fa fa-angle-right"></i>
                        <span>Organize</span>
                    </a>
                </li>
                <li>
                    <a href="#/capture">
                        <i class="fa fa-angle-right"></i>
                        <span>Record</span>
                    </a>
                </li>
                <li>
                    <a href="#/movements/upload">
                        <i class="fa fa-angle-right"></i>
                        <span>Upload</span>
                    </a>
                </li>
                <li>
                    <a href="#/movements/analyze">
                        <i class="fa fa-angle-right"></i>
                        <span>Analyze</span>
                    </a>
                </li>
                <li>
                    <a href="#/movements/compare">
                        <i class="fa fa-angle-right"></i>
                        <span>Compare</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Screenings -->
		<li>
            <a href="#/screening">
                <i class="fa fa-pencil-square-o"></i>
                <span>Movement Tests</span>
            </a>

            <ul style="display: block">
                <li>
                    <a href="#/screenings/current">
                        <i class="fa fa-angle-right"></i>
                        <span>Record or Upload</span>
                    </a>
                </li>
                <li>
                    <a href="#/screenings">
                        <i class="fa fa-angle-right"></i>
                        <span>View Results</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Submit FMS test form -->
		<li>
            <a href="#/fmstest"><span>submit fms test results</span></a>
        </li>

        <!-- FMS results page -->
		<li>
            <a href="#/fmsresults"><span>fms results</span></a>
		</li>

        <!-- Live FMS pages. -->
        <li>
            <!-- TODO: Call this Live FMS? -->
            <a href="#/fms/live"> <i class="fa fa-pencil-square-o"></i> Movement Screen</a>

            <!-- TODO: Use ng-repeat when ready -->
            <ul style="display: block">
                <li>
                    <a href="#/fms/live/ds"><span>Deep Squat</span></a>
                </li>
                <li>
                    <a href="#/fms/live/hs"><span>Hurdle Step</span></a>
                </li>
                <li>
                    <a href="#/fms/live/il"><span>Inline Lunge</span></a>
                </li>
                <li>
                    <a href="#/fms/live/sm"><span>Shoulder Mobility</span></a>
                </li>
                <li>
                    <a href="#/fms/live/sm"><span>Impingement (C. Test)</span></a>
                </li>
                <li>
                    <a href="#/fms/demo/aslr"><span>Active Straight-Leg Raise</span></a>
                </li>
                <li>
                    <a href="#/fms/live/tspu"><span>Trunk Stability Push-Up</span></a>
                </li>
                <li>
                    <a href="#/fms/live/pu"><span>Press-Up (C. Test)</span></a>
                </li>
                <li>
                    <a href="#/fms/live/rs"><span>Rotary Stability</span></a>
                </li>
                <li>
                    <a href="#/fms/live/ps"><span>Posterior Rocking (C. Test)</span></a>
                </li>
            </ul>
        </li>

        <!-- Account page -->
		<li>
            <a href="#/account"><span>My Account</span></a>
        </li>

        <li class="app-version">
            {{ global.appVersion }}
		</li>

		<!-- <li ng-controller="MovementScreenController" ng-show="Rover.isLocal == true">
            <a href="#/movements"><span>movement screen</span></a>
			<ul style="display: block;">
                <li ng-repeat="movement_page in data.movement_pages">
					<a
                        href="#/movements"
                        ng-click="select_movement(movement_page)">

                        <i ng-if="movement_page.submitted" class="fa fa-2x fa-check" style="color:white;"></i>
                        <span>{{movement_page.name}}</span>
                    </a>
				</li>
            </ul>
        </li> -->
    </ul>
</div>
