
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="modal fade" id="overlay-screen" tabindex="-1">
    <div class="modal-dialog modal-responsive">
        <div class="modal-content">

            <!-- Overlay title -->
            <header class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title text-center" id="overlay-screen-title">
                    {{ global.data.overlay.title }}
                </h2>
            </header>

            <!-- Overlay content -->
            <div
                data-ng-if="global.data.overlay.bodyTemplate.length > 0"
                data-ng-include="global.data.overlay.bodyTemplate"
                class="modal-body">
            </div>

            <!-- Overlay footer -->
            <footer
                data-ng-if="global.data.overlay.footerTemplate.length > 0"
                data-ng-include="global.data.overlay.footerTemplate"
                class="modal-footer">
            </footer>
        </div>
    </div>
</div>
