
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="">

    <!-- Header -->
    <div class="row header">

        <!-- Checkbox -->
        <div class="col-xs-2 col-md-1 text-right">
            <a href="javascript:;">
                <i class="fa fa-square-o"></i>
            </a>
        </div>

        <!-- Title -->
        <div class="col-xs-10 col-md-8">
            Title
        </div>

        <!-- Created date -->
        <div class="col-md-3 hidden-xs text-center">
            Date
        </div>
    </div>

    <!-- Parent folder -->
    <div ng-show="parentFolder" class="row">

        <!-- Title -->
        <div class="col-xs-10 col-xs-offset-2 col-md-11 col-md-offset-1">
            <a href="{{ parentFolder.href }}">
                <i class="fa fa-level-up"></i> Parent Folder
            </a>
        </div>
    </div>

    <!-- Other folders -->
    <div ng-repeat="folder in folders" class="row">

        <!-- Checkbox -->
        <div class="col-xs-2 col-md-1 text-right">
            <a href="javascript:;">
                <i class="fa fa-square-o"></i>
            </a>
        </div>

        <!-- Title -->
        <div class="col-xs-10 col-md-11">
            <a href="{{ folder.href }}">
                <i class="fa fa-folder-open fa-fw"></i> {{ folder.name | characters:40 }}
            </a>
        </div>
    </div>

    <!-- Movements -->
    <div ng-repeat="movement in movements" class="row">

        <!-- Checkbox -->
        <div class="col-xs-2 col-md-1 text-right">
            <a href="javascript:;">
                <i class="fa fa-square-o"></i>
            </a>
        </div>

        <!-- Title -->
        <div class="col-xs-10 col-md-8">
            <a href="javascript:;">
                {{ movement.title | characters:40 }}
            </a>
        </div>

        <!-- Created date -->
        <div class="col-md-3 hidden-xs text-center">
            {{ movement.createdAt | mysqlDate:'MMMM d, yyyy (h:mm a)' }}
        </div>
    </div>

    <!-- No movements or folders to show -->
    <div ng-show="folders.length === 0 && movements.length === 0" class="row text-center">

        <div class="col-xs-12" style="margin-top: 20px; margin-bottom: 20px;">
            <h3>There are no movements to display.</h3>
            Once you upload or capture a new movement, it will show up here.
            <br>

            Start by <b><a href="#/movements/upload">importing</a></b> your own movements.
        </div>

    </div>
</div>
