
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="row">

    <!-- Parent folder -->
    <div ng-show="parentFolder" class="col-xs-4 col-md-3 col-lg-1">
        <a href="{{ parentFolder.href }}" class="folder">
            <i class="fa fa-hand-o-left fa-2x"></i>
            <span class="name">
                Back
            </span>
        </a>
    </div>

    <!-- Other folders -->
    <div ng-repeat="folder in folders" class="col-xs-4 col-md-3 col-lg-1">
        <a href="{{ folder.href }}" class="folder">
            <i class="fa fa-folder-open fa-2x"></i>
            <span class="name">
                {{ folder.name | characters:20 }}
            </span>
        </a>
    </div>

    <!-- Movements -->
    <div ng-repeat="movement in movements" class="col-xs-4 col-md-3 col-lg-1">
        <span class="file">
            <i class="fa fa-files-o fa-2x"></i>
            <span class="name">
                {{ movement.title | characters:20 }}
            </span>
        </span>
    </div>

    <!-- No movements or folders to show -->
    <div
        ng-show="folders.length === 0 && movements.length === 0"
        class="col-xs-8 col-md-9 col-lg-11 text-center">

        <h3>There are no movements to display.</h3>
        Once you upload or capture a new movement, it will show up here.
        <br>

        Start by <b><a href="#/movements/upload">importing</a></b> your own movements.
    </div>
</div>
