
<div class="panel panel-default">
    <div class="panel-heading">
        Athletes in {{ data.group.selected.name }} ({{ data.group.selected.sport_name }})
    </div>
    <div class="panel-body">

        <div class="col-sm-12">
            <div ng-hide="data.member.list.length > 1">
                The <b>{{ data.group.selected.name }}</b> do not have any
                members yet. Add one below to get started!
            </div>

            <!-- List of members -->
            <a
                href="javascript:;"
                class="btn btn-primary btn-metro"
                ng-repeat="member in data.member.list"
                ng-click="Rover.browseTo.member(member)">

                <div class="btn-title">{{ member.first_name }}</div>
            </a>
        </div>
    </div>
</div>
