<header class="page-main-header">
    <div class="row">
        <div class="col-sm-6">
            <h4>Dashboard</h4>
            <p>See information easily</p>
        </div>
    </div>

</header>

<div class="page page-dashboard" data-ng-controller="FMSFormController">
	<div ng-controller="StepController">
		<div ng-switch="current_dashboard_page">
			<div ng-switch-when="0">
				<div ng-include src="'views/dashboardpartial/0createteams.html'"></div>
			</div>
			<div ng-switch-when="1">
				<div ng-include src="'views/dashboardpartial/1selectteam.html'"></div>
			</div>
			<div ng-switch-when="2">
				<div ng-include src="'views/dashboardpartial/2viewteammembers.html'"></div>
			</div>
			<div ng-switch-when="3">
				<div ng-include src="'views/dashboardpartial/3athleteprofile.html'"></div>
			</div>
		</div>
	</div>
</div>

