<header class="page-main-header">
    <div class="row">
        <div class="col-sm-6">
            <h4>Dashboard</h4>
            <p>See information easily</p>
        </div>
    </div>

</header>

<div class="page page-dashboard" data-ng-controller="FMSFormController">
	<div ng-controller="StepController">
		<ol class="breadcrumb-alt">
			<li><a class="active" ng-click="current_dashboard_page=0">Teams</a></li>
			<li ng-show="current_dashboard_page > 0"><a class="active" ng-click="current_dashboard_page=1">Athletes</a></li>
			<li ng-show="current_dashboard_page > 1"><a class="active" ng-click="current_dashboard_page=2">Profiles</a></li>
		</ol>
		<div ng-switch="current_dashboard_page">
			<div ng-switch-when="0">
				<div ng-include src="'views/dashboardpartial/selectteam.html'"></div>
			</div>
			<div ng-switch-when="1">
				<div ng-include src="'views/dashboardpartial/viewteammembers.html'"></div>
			</div>
			<div ng-switch-when="2">
				<div ng-include src="'views/dashboardpartial/athleteprofile.html'"></div>
			</div>
		</div>
	</div>
</div>

