<header class="page-main-header">
    <div class="row">
			<div class="col-sm-6">
				<h4>Movement Data</h4>
				<p>Choose player and category of movement</p>
			</div>
    </div>

</header>

<div class="page page-dashboard">

	<section>
		<div class="row">

			<div class="col-sm-12">

				<div class="panel panel-default">

					<div class="panel-body">

						<div class="text-left col-sm-6">
							<h3>
								Athlete
							</h3>
							
							<select ng-model="data.selected_athlete"
									ng-selected="data.selected_athlete"
									ng-options="athlete.name for athlete in data.athletes track by athlete.id" >
							</select>	
						</div>

						<div class="panel-body col-sm-8 ng-scope">

						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>
	
	<section data-ng-controller="MovementController">

		<div class="row">

			<div class="col-sm-12">

				<div class="panel panel-default">

					<div class="panel-body">
						<h3>
							Submit Movement Data
						</h3>
						<div class="col-sm-6">

							<select ng-model="data.selected_sport_category"
											ng-selected="data.selected_sport_category"
											ng-options="sport_category.name for sport_category in data.sport_categories track by sport_category.id" >
							</select>   
							
							<div>

									<div ng-repeat="sport_movement in data.sport_movements" ng-click="data.selected_sport_movement = sport_movement;">
										<p class="size-h1 color-info"><i class="wi wi-cloudy"></i></p>
										<p class="text-muted">{{sport_movement.name}}</p>
									</div>

							</div>

						</div>
						<div class="col-sm-6">

							category: {{data.selected_sport_movement.name}}   

						</div>

						<form ng-submit="uploadMovements();" accept-charset="UTF-8">
							<div class="control-group">
								<input multiple type="file" file-model="movement_files">
							</div>
							<input class="send-btn" type="submit" value="Submit">
						</form>

					</div>

				</div>

			</div>
		</div>

	</section>
	
</div>