<header class="page-main-header">
    <div class="row">
        <div class="col-sm-6">
            <h4>Movement Screen</h4>
            <p>Start your tests</p>
        </div>
    </div>
</header>
<div class="page page-dashboard movement-pages" ng-controller="MovementScreenController">
	<div>
		<ol class="breadcrumb-movement">
			<li>
				<div style="text-align:center;">
					<a>{{ data.current_movement_page.name || "Choose a movement" }}</a>
				</div>
			</li>
			<li ng-click="data.current_movement_page.latest_page = 0" ng-class="{'active':data.current_movement_page.latest_page == 0}"><a>TEST</a></li>
			<li ng-click="data.current_movement_page.latest_page = 1" ng-class="{'active':data.current_movement_page.latest_page == 1}"><a>ANALYSIS</a></li>
			<li ng-click="data.current_movement_page.latest_page = 2" ng-class="{'active':data.current_movement_page.latest_page == 2}"><a>DATA</a></li>
			<li ng-click="data.current_movement_page.latest_page = 3" ng-class="{'active':data.current_movement_page.latest_page == 3}"><a>SUMMARY</a></li>
		</ol>
		
		<ol class="breadcrumb-movement-sm" ng-show="true"> <!-- ng-show="data.current_movement.left_and_right == true" -->
			<li ng-repeat="side in data.current_movement_page.sides" ng-click="data.current_movement_page.active_side = side" ng-class="{'active': side == data.current_movement_page.active_side}"><a >{{side.name}}</a></li>
		</ol>

		<div ng-switch="data.current_movement_page.latest_page">
			<div ng-switch-when="0">
				<div ng-include="'views/movements/0test.html'"></div>
			</div>
			<div ng-switch-when="1">
				<div ng-include="'views/movements/1analysis.html'"></div>
			</div>
			<div ng-switch-when="2">
				<div ng-include="'views/movements/2data.html'"></div>
			</div>
			<div ng-switch-when="3">
				<div ng-include="'views/movements/3summary.html'"></div>
			</div>	
		</div>
	</div>
</div>
