
<!-- Used in the uiEditableListContainer directive -->
<!-- <div class="row">
    <div class="col-sm-12 btn-group text-right">

        <button type="button" ng-click="delete()" ng-hide="isEditing" class="btn btn-danger">
            Delete
        </button>
        <button type="button" ng-click="edit()" ng-hide="isEditing" class="btn btn-default">
            Edit
        </button>
        <button type="button" ng-click="save()" ng-show="isEditing" class="btn btn-success">
            Save
        </button>
    </div>
</div>

<br> -->

<div class="row">
    <div class="col-sm-12" ng-transclude></div>
</div>
