<header class="page-main-header">
    <div class="row">
        <div class="col-sm-6">
            <h4>Dashboard</h4>
            <p>At-a-glance profile view</p>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 text-right">
                <p class="text-muted medium">
                    Last Login 2 days ago
                </p>
            </div>

        </div>
    </div>

</header>

<div class="page page-dashboard" data-ng-controller="DashboardCtrl">


</div>
