
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="page">
    <header>
        <h1>
            Movement Tests <i class="fa fa-pencil-square-o"></i>
            <span></span>
        </h1>
    </header>

    <!-- List of screenings -->
    <div ng-show="global.data.isFetchingScreeningData === false" class="table-responsive">
        <table
            ng-show="global.state.screening.list.length > 0"
            class="table table-striped">

            <!-- Heading -->
            <thead>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center">Title</td>
                    <td class="text-center">Date</td>
                    <td class="text-center">Athlete</td>
                    <td class="text-center">Score</td>
                </tr>
            </thead>

            <!-- Screenings -->
            <tbody>
                <tr ng-repeat="screening in global.state.screening.list">
                    <td class="text-right">
                        <a ng-click="selectScreening(screening)" href="javascript:;" title="Edit">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a href="#/screenings/{{ screening.id }}" title="">
                            <i class="fa fa-list-alt"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#/screenings/{{ screening.id }}">
                            {{ screening.title | characters:60 }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ screening.createdAt | mysqlDate }}
                    </td>
                    <td class="text-center">
                        <a href="#/profile/{{ screening.profile.id }}">
                            {{ screening.profile.firstName + ' ' + screening.profile.lastName | characters:40 }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ screening.score | number:0 }}
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- No screenings to show -->
        <div ng-show="global.state.screening.list.length === 0" class="text-center">

            <a href="#/screenings/current" class="btn btn-primary btn-circle btn-lg">
                <i class="fa fa-plus"></i>
            </a>

            <h3>There are no tests to display.</h3>
            Once you create a new test, it will show up here.
            <br><br>

            <b>Go ahead and use the <i class="fa fa-plus fa-lg fa-fw"></i> button above to start.</b>
        </div>
    </div>

    <!-- Loading data -->
    <div ng-show="global.data.isFetchingScreeningData === true">
        <h3 class="text-center">Retrieving Tests</h3>
        <div class="text-center" style="margin: 60px auto">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
    </div>
</div>
