
<!-- Copyright Heddoko(TM) 2016, all rights reserved. -->

<div class="ui-filesystem-container" ng-attr-id="{{ ::id }}">

    <!-- Toolbar -->
    <div ng-if="!hideToolbar" class="row ui-filesystem-toolbar" role="toolbar">
        <div class="col-xs-12">

            <!-- Layout selector -->
            <div ng-if="layout.list.length > 1" class="ui-filesystem-toolbar-group">
                <a
                    ng-repeat="btn in layout.list"
                    ng-click="setLayout(btn.name)"
                    ng-class="{'ui-filesystem-active': btn.name == layout.name}"
                    class="ui-filesystem-toolbar-btn">

                    <i class="fa fa-fw fa-lg fa-{{ btn.icon }}"></i>
                </a>
            </div>

            <!-- Create button -->
            <div ng-if="config.toolbar.createModal" class="ui-filesystem-toolbar-group">
                <a
                    data-toggle="modal"
                    data-target="#{{ config.toolbar.createModal }}"
                    href="javascript:;"
                    class="ui-filesystem-toolbar-btn">

                    <i class="fa fa-fw fa-lg fa-{{ config.toolbar.createModalIcon }}"></i>
                </a>
            </div>

            <!-- Other actions -->
            <div ng-if="config.onDelete" class="ui-filesystem-toolbar-group">

                <!-- Edit resource -->
                <a
                    ng-click="config.onEdit()"
                    ng-class="{disabled: (selectedFiles.length + selectedFolders.length !== 1)}"
                    href="javascript:;"
                    class="ui-filesystem-toolbar-btn">

                    <i class="fa fa-fw fa-lg fa-pencil"></i>
                </a>

                <!-- Delete resources -->
                <a
                    ng-click="config.onDelete()"
                    ng-class="{disabled: (selectedFiles.length + selectedFolders.length === 0)}"
                    href="javascript:;"
                    class="ui-filesystem-toolbar-btn">

                    <i class="fa fa-fw fa-lg fa-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Contents -->
    <div ng-if="!isLoading" class="ui-filesystem-contents ui-filesystem-{{ layout.name }}">
        <ng-include
            src="'partials/directives/ui-filesystem/layouts/' + layout.name + '.html'">
        </ng-include>
    </div>

    <!-- Loading -->
    <div ng-if="isLoading" class="ui-filesystem-contents">
        <div class="text-center" style="margin: 60px auto">
            <i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
        </div>
    </div>

    <!-- Location -->
    <div ng-if="!hideLocation && path" class="row ui-filesystem-location">
        <div class="col-xs-12">
            <i class="fa fa-compass fa-fw"></i>
            <span>
                {{ path }}
            </span>
        </div>
    </div>

</div>
