
<div class="page page-dashboard">

    <div class="row">
        <div class="col-sm-12">

            <!-- Breadcrumbs -->
            <div class="col-sm-6">
                <div data-ng-include="'partials/breadcrumbs.html'"></div>
            </div>

            <!-- Actions -->
            <div class="col-sm-6">
                <div class="btn-group pull-right">
                    <button
                        ng-click="Rover.browseTo.path('group/create')"
                        class="btn btn-default">Add a Team</button>
                </div>
            </div>
        </div>
    </div>

    <!-- List of groups -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Teams (total: {{ global.state.group.list.length }})
        </div>

        <div class="panel-body">
            <div class="row">
                <div ng-hide="global.state.group.list.length > 0" class="col-sm-12">
                    You don't have any teams yet! Create one above to get started.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a
                        ng-repeat="group in global.state.group.list"
                        ng-click="Rover.browseTo.group(group)"
                        href="javascript:;"
                        class="btn btn-primary btn-metro"
                        style="background-image: url({{ group.avatar_src || '' }});background-size: cover;">

                        <!-- <object
                            ng-hide="group.avatar_src"
                            style="pointer-events:none;"
                            type="image/svg+xml"
                            data="/images/sports/{{group.sport_id}}.svg" /> -->

                        <span>{{ group.name }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
