
<div class="page page-dashboard">
    <header>
        <h1>
            Teams
            <i class="fa fa-users"></i>
            <span></span>
        </h1>
    </header>

    <div class="row">
        <div class="col-sm-12">

            <!-- Breadcrumbs -->
            <div class="col-sm-6">
                <div data-ng-include="'partials/breadcrumbs.html'"></div>
            </div>

            <!-- Actions -->
            <div class="col-sm-6">
                <div class="btn-group pull-right">
                    <button
                        ng-click="global.browseTo.path('group/create')"
                        class="btn btn-default">Add a Team</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <a
        ng-repeat="group in global.state.group.list"
        ng-show="group.id"
        ng-click="global.browseTo.group(group)"
        href="javascript:;"
        class="btn btn-primary btn-metro"
        style="background-image: url({{ group.avatarSrc || '' }});background-size: cover;">

        <span>{{ group.name | characters:15 }}</span>
    </a>
</div>
