
<!-- Group summary -->
<div ng-show="group.id" class="page">
    <header>
        <h1>
            {{ group.name }}
            <span></span>
        </h1>
    </header>

    <div class="row">

        <!-- Breadcrumbs -->
        <div class="col-sm-12 col-md-6">
            <div data-ng-include="'partials/breadcrumbs.html'"></div>
        </div>

        <!-- Actions -->
        <div class="col-sm-12 col-md-6">
            <div class="btn-group pull-right">

                <!-- Delete group button -->
                <button
                    ng-show="global.getSelectedGroup().id > 0"
                    data-toggle="modal"
                    data-target="#deleteGroupConfirmation"
                    class="btn btn-danger">

                    Delete <b>{{ global.getSelectedGroup().name }}</b>
                </button>

                <!-- Delete confirmation -->
                <div class="modal fade" id="deleteGroupConfirmation">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p ng-show="global.state.profile.list.length > 0">
                                    Are you sure you want to delete <b>{{ global.getSelectedGroup().name }}</b>
                                    and the {{ global.state.profile.filtered.length }}
                                    associated athletes?
                                </p>
                                <p ng-show="global.state.profile.list.length === 0">
                                    Are you sure you want to delete <b>{{ global.getSelectedGroup().name }}</b>?
                                </p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button ng-click="deleteGroup()" type="button" class="btn btn-primary" data-dismiss="modal">
                                    Yes, delete {{ global.getSelectedGroup().name }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Create profile button -->
                <button
                    ng-click="global.browseTo.path('profile/create')"
                    class="btn btn-default">

                    Add an athlete
                </button>
            </div>
        </div>
    </div>

    <section>
    	<div class="row">

            <!-- Avatar -->
    		<div class="col-md-6 col-sm-12">
                <div class="text-center" style="margin: 5% 20%; width: 60%;">
                    <ui-avatar
                        data-upload-endpoint="uploadAvatarEndpoint"
                        data-success-callback="uploadAvatarCallback"
                        data-src="global.state.group.list[global.store.groupId].avatarSrc">
                    </ui-avatar>
                </div>
    		</div>

            <!-- Group details -->
            <div class="col-sm-12 col-md-6">
                <ui-editable-fields
                    data-model="global.state.group.list[global.store.groupId]"
                    data-save="saveGroupDetails"
                    data-save-callback="saveGroupDetailsCallback"
                    data-heading="Details for {{ global.state.group.list[global.store.groupId].name }}">

                    <!-- Group name -->
                    <ui-editable-field
                        data-label="Name"
                        data-key="name"
                        data-required="true">
                    </ui-editable-field>

                    <!-- Tags -->
                    <ui-editable-field
                        data-label="Sport"
                        data-key="tags"
                        data-type="tag">
                    </ui-editable-field>
                </ui-editable-fields>
            </div>
        </div>
    </section>

    <section>

        <!-- Profile list -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Athletes in {{ global.getSelectedGroup().name }}
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div ng-show="global.state.profile.filtered.length === 0">
                            The <b>{{ global.getSelectedGroup().name }}</b> do not have any
                            members yet. Add one above to get started!
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a
                            href="javascript:;"
                            class="btn btn-primary btn-metro"
                            ng-repeat="profile in global.state.profile.filtered"
                            ng-click="global.browseTo.profile(profile)"
                            style="background-image: url({{ profile.avatarSrc || '' }});background-size: cover;">

                            <div class="btn-title">{{ profile.firstName }}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section ng-show="global.isLocal">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Debug
                    </div>

                    <div class="panel-body">
                        Avatar: {{ global.getSelectedGroup().avatarSrc ? 'has avatar' : 'no avatar' }} <br>
                        Global: {{ global.getSelectedGroup().name }} <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- No group selected -->
<div ng-show="global.getSelectedGroup().id === 0" class="page">
    <h1 class="text-center">No group selected</h1>
    <br>

    <div class="text-center">
        Please select a group to view its details.
        <br>

        You can also take this opportunity to
        <a href="#/group/create">create one</a>.
    </div>
</div>
