
/*
 * Tables: action buttons.
 */
.table tr .actions {
    visibility: hidden;
}
.table tr .actions .update {
    display: none;
}
.table tr .actions.live .update {
    display: inline-block;
}
.table tr .actions.live .edit, .table tr .actions.live .destroy {
    display: none;
}
.table tr:hover .actions {
    visibility: visible;
}

/*
 * Tables: editable fields.
 */
.editable .form-control {
    display: none;
}
.editable.live .form-control {
    display: block;
}
.editable.live span {
    display: none;
}

/*
 * Selectize customizations.
 */
.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 10px;
    left: 16px;
    width: 16px;
    height: 16px;
	background: url(../images/ui/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}
.selectize-control.loading::before {
    opacity: 1;
}
.selectize-control.loading .selectize-input {
    opacity: .2;
}
