
<!-- Title -->
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">
            Welcome to your dashboard.
        </h1>

    </div>
</div>

<!-- Main tasks -->
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm-12 col-md-4 text-right">
        <a ng-click="Rover.alert('In Development.')" href="javascript:;" class="btn btn-primary btn-metro text-center">
            <span>
                Upload/Record <br>
                a Movement
            </span>
        </a>
    </div>

    <div class="col-sm-12 col-md-4 text-center">
        <a ng-click="Rover.alert('In Development.')" href="javascript:;" class="btn btn-primary btn-metro text-center">
            <span>
                Analyze <br>
                a Movement
            </span>
        </a>
    </div>

    <div class="col-sm-12 col-md-4 text-left">
        <a ng-click="Rover.alert('In Development.')" href="javascript:;" class="btn btn-primary btn-metro text-center">
            <span>
                Compare <br>
                Movements
            </span>
        </a>
    </div>
</div>

<!-- Quick actions -->
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm-12 text-center">
        <div class="btn-group">

            <!-- Profile list -->
            <a href="#/profile/list" class="btn btn-default">
                See my athletes
            </a>

            <!-- Group list -->
            <a href="#/group/list" class="btn btn-default">
                See my teams
            </a>

            <!-- Onboarding link -->
            <button ng-click="global.onboarding.general()" class="btn btn-primary">
                Show me around
            </button>
        </div>
    </div>
</div>
