<header class="clearfix">
	<div class="top-nav">
		<ul class="nav-left list-unstyled">

            <!-- Menu button (shows up in mobile views) -->
			<li>
				<div class="menu-button" toggle-off-canvas>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>
			</li>

            <!-- Menu button (shows up on desktop views) -->
			<!-- <li>
				<a href="#/" data-toggle-min-nav class="toggle-min">
                    <i class="fa fa-bars"></i>
                </a>
			</li> -->

            <!-- Spacer, to account for space lost by removing menu button -->
            <li style="display: block; width: 20px; height: 1px;"></li>

            <!-- Group dropdown -->
			<li
                ng-hide="global.state.group.list.length === 0"
                class="onboarding-general"
                data-step="2"
                data-intro="Here is where you can find the groups you manage. The black arrow is a shortcut to view
                            the <strong>{{ global.state.group.selected.name }}</strong>'s details.">

                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        {{ global.state.group.selected.name }}
                        <span class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul class="dropdown-menu">
                        <li ng-repeat="group in global.state.group.list">
                            <a href="javascript:;" ng-click="global.state.group.selected = group">
                                {{ group.name }}
                            </a>
                        </li>
                    </ul>

                    <!-- Link to group page -->
                    <button
                        type="button"
                        class="btn btn-info"
                        ng-click="Rover.browseTo.group(global.state.group.selected)">

                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </li>

            <!-- Member dropdown -->
			<li
                class="onboarding-general"
                data-step="3"
                data-intro="Here is where you can find the profiles you manage. If a group is selected, the
                            profiles listed will be restricted to that group. The black arrow is a
                            shortcut to view <strong>{{ global.state.profile.selected.first_name }}
                            </strong>'s details.">

                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        ng-hide="global.state.profile.list.length === 0"
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        {{ global.state.profile.selected.first_name +' '+ global.state.profile.selected.last_name }}
                        <span class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul
                        ng-hide="global.state.profile.list.length === 0"
                        class="dropdown-menu">

                        <li ng-repeat="profile in global.state.profile.list">
                            <a href="javascript:;" ng-click="global.state.profile.selected = profile">
                                {{ profile.first_name +' '+ profile.last_name }}
                            </a>
                        </li>
                    </ul>

                    <!-- Link to profile page -->
                    <button
                        ng-hide="global.state.profile.list.length === 0"
                        ng-click="Rover.browseTo.profile(global.state.profile.selected)"
                        type="button"
                        class="btn btn-info">

                        <i class="fa fa-angle-double-right"></i>
                    </button>

                    <!-- Create new profile button -->
                    <button
                        ng-show="global.state.profile.list.length === 0"
                        ng-click="Rover.browseTo.path('/profile/create')"
                        type="button"
                        class="btn btn-default">

                        Create profile
                    </button>
                </div>
			</li>

            <li ng-show="global.isLocal">
                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        Dev
                        <span class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;">
                                Total groups: {{ global.state.group.list.length }} /
                                Selected: {{ global.state.group.selected.name || 'None' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Total profiles: {{ global.state.profile.list.length }} /
                                Selected: {{ global.state.profile.selected.first_name || 'None' }}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Settings page -->
            <li class="pull-right onboarding-general" data-step="4" data-intro="This is the settings button">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="Rover.browseTo.config()">
                        Settings &nbsp;&nbsp;<i class="fa fa-cog"></i>
                    </button>
                </div>
            </li>
		</ul>

        <!-- Log out -->
		<!-- <ul class="nav-right-button list-unstyled pull-right">
			<li>
				<a ng-click="Rover.endSession()" class="btn btn-logout">
					Logout &nbsp;&nbsp;<i class="fa fa-sign-out"></i>
				</a>
			</li>
		</ul> -->
		<ul class="nav-right-button list-unstyled pull-right">
			<li>
				<a ng-click="Rover.endSession()" class="btn btn-danger">
					Logout &nbsp;&nbsp;<i class="fa fa-sign-out"></i>
				</a>
			</li>
		</ul>
	</div>
</header>
