
/*
 * Tables: action buttons.
 */
.table tr .actions {
    visibility: hidden;
}
.table tr .actions .update {
    display: none;
}
.table tr .actions.live .update {
    display: inline-block;
}
.table tr .actions.live .edit, .table tr .actions.live .destroy {
    display: none;
}
.table tr:hover .actions {
    visibility: visible;
}

/*
 * Tables: editable fields.
 */
.table .editable input {
    display: none;
}
.table .editable.live input {
    display: block;
}
.table .editable.live span {
    display: none;
}
