
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="page page-dashboard">
    <header>
        <h1>
            Athletes <i class="fa fa-user"></i>
            <span></span>
        </h1>
    </header>

    <div ng-if="global.data.isFetchingProfiles === false" class="row">
        <ui-filesystem
            data-id="profiles-explorer"
            data-files="profileList"
            data-hide-location="true"
            data-config="uiFilesystemConfig"
            class="col-sm-12">
        </ui-filesystem>

        <!-- New profile modal form -->
        <div class="modal fade" id="createProfileForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Profile Details
                    </div>

                    <div class="modal-body">

                        <h1 class="text-center text-muted">
                            In Development.
                        </h1>
                    </div>

                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="global.data.isFetchingProfiles === true" class="loading-notice">
        <h3>Retrieving Athletes</h3>
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
</div>
