<div class="row">

	<div class="col-sm-6">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-4">
					<h3>
						Player Information
					</h3>
					{{data.selected_athlete.first_name}} {{data.selected_athlete.last_name}}
				</div>

				<div class="panel-body col-sm-8 ng-scope">
					
					<ul class="list-unstyled">
						<li>Profile Created <b class="pull-right">{{data.selected_athlete.created_at}}</b></li>
						<li>Phone <b class="pull-right">{{}}</b></li>
						<li>Sex <b class="pull-right">{{}}</b></li>
						<li>Date of birth <b class="pull-right">{{}}</b></li>
						<li>Height <b class="pull-right">{{data.selected_athlete.height_cm}}</b></li>
						<li>Weight <b class="pull-right">{{data.selected_athlete.weight_kg}}</b></li>
						<li>Primary Sport <b class="pull-right">{{data.selected_athlete.primary_sport}}</b></li>
						<li>Primary position <b class="pull-right">{{}}</b></li>						
						<li>Hand/Leg dominance <b class="pull-right">{{data.selected_athlete.hand_leg_dominance}}</b></li>						
					</ul>

				</div>
			</div>
		</div>

	</div>
	
	<div class="col-sm-3">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Medical Information
					</h3>
					
				</div>

				<div class="panel-body col-sm-8 ng-scope">


				</div>
			</div>
		</div>

	</div>
	
	<div class="col-sm-3">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Last FMS score
					</h3>
					
				</div>

				<div class="panel-body col-sm-8 ng-scope">


				</div>
			</div>
		</div>
		
	</div>	

</div>

<div class="row" data-ng-controller="FMSFormController">


	
	<div class="col-md-6">
		<section class="panel panel-default">
			<div class="panel-body">
				<div class="text-left col-sm-6">
					<h3>
						Test FMS Score Graphs
					</h3>

				</div>
			
					<div morris-chart
							data-data="data.selected_athlete.fms_forms"
							data-type="area"
							data-xkey="created_at"
							data-ykeys='["Lhurdle", "Rhurdle", "Llunge", "Rlunge"]'
							data-labels='["Left Hurdle", "Right Hurdle", "Left Lunge", "Right Lunge"]'
							data-line-colors='["#383d43","#db5031","#c1bfc0"]'
							data-line-width="3"
					></div>
			
			</div>
		</section>            
	</div>
	
	<div class="col-sm-6">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Final FMS Score graph
					</h3>
					
				</div>

				<div class="panel-body ng-scope" data-ng-controller="morrisChartCtrl">

					<div morris-chart
							data-data="data.selected_athlete.fms_forms"
							data-type="line"
							data-xkey="created_at"
							data-ykeys='["totalscore"]'
							data-labels='["total score"]'
							data-line-colors='["#383d43"]'
							data-line-width="3"
					></div>

				</div>
			</div>
			
		</div>

	</div>	

</div>


