<div class="row">

	<div class="col-sm-6">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-4">
					<h3>
						Player Information
					</h3>
					{{data.selectedathlete.name}}
				</div>

				<div class="panel-body col-sm-8 ng-scope">
					
					<ul class="list-unstyled">
						<li>Profile Created <b class="pull-right">{{data.selectedathlete.created_at}}</b></li>
						<li>Phone <b class="pull-right">{{}}</b></li>
						<li>Sex <b class="pull-right">{{}}</b></li>
						<li>Date of birth <b class="pull-right">{{}}</b></li>
						<li>Height <b class="pull-right">{{}}</b></li>
						<li>Weight <b class="pull-right">{{}}</b></li>
						<li>Primary Sport <b class="pull-right">{{}}</b></li>
						<li>Primary position <b class="pull-right">{{}}</b></li>						
						<li>Hand/Leg dominance <b class="pull-right">{{}}</b></li>						
					</ul>

				</div>
			</div>
		</div>

	</div>
	
	<div class="col-sm-3">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Medical Information
					</h3>
					
				</div>

				<div class="panel-body col-sm-8 ng-scope">


				</div>
			</div>
		</div>

	</div>
	
	<div class="col-sm-3">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Last FMS score
					</h3>
					
				</div>

				<div class="panel-body col-sm-8 ng-scope">


				</div>
			</div>
		</div>
		
	</div>	

</div>

<div class="row">

	<div class="col-sm-6">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Test FMS Score Graphs
					</h3>
					
				</div>

				<div class="panel-body col-sm-8 ng-scope">


				</div>
			</div>
		</div>

	</div>
	
		<div class="col-sm-3">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Final FMS Score graph
					</h3>
					
				</div>

				<div class="panel-body col-sm-8 ng-scope">


				</div>
			</div>
			
		</div>

	</div>	

</div>


