<div class="row">
	<div class="col-sm-12">

		<section class="panel panel-box">

			<a href="javascript:;" class="btn btn-primary btn-metro" ng-repeat="team in data.teams" ng-click="data.selected_team = team;forwardsStep();">
				<i class="fa fa-envelope"></i>
				<span>{{team.name}}</span>
			</a>

		</section>

	</div>

</div>

<div class="row">

	<div class="col-sm-6" ng-hide="waiting_server_response">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="text-left col-sm-6">
					<h3>
						Create a new Team
					</h3>
					
				</div>
				</br></br></br>
				
				<form ng-submit="submitNewTeamForm()">
				
					Team name:
					<input ng-model="data.new_team_form_data.name">

					<div class="form-group text-right">   
						<button type="submit" class="btn btn-primary btn-lg">Create New</br>Team</button>
					</div>
				</form>
								
			</div>
		</div>

	</div>

</div>