
<div class="panel panel-default">
    <div class="panel-heading">
        Test FMS Score Graph
    </div>

    <div class="panel-body">
        <div
            morris-chart
            data-type="area"
            data-data="fmsForms"
            data-xkey="created_at"
            data-ykeys='["Lhurdle", "Rhurdle", "Llunge", "Rlunge"]'
            data-labels='["Left Hurdle", "Right Hurdle", "Left Lunge", "Right Lunge"]'
            data-line-colors='["#383d43","#db5031","#c1bfc0"]'
            data-line-width="3">
        </div>
    </div>
</div>
