
<div class="panel panel-default">
    <div class="panel-heading">
        {{ global.state.profile.selected.first_name }}'s details
    </div>

    <div class="panel-body">

        <div data-ui-editable-list-container>

            <!-- First name -->
            <div
                data-ui-editable-list-item
                data-label="First Name"
                data-value="profile.first_name">
            </div>

            <!-- Last name -->
            <div
                data-ui-editable-list-item
                data-label="Last Name"
                data-value="profile.last_name">
            </div>

            <!-- Height -->
            <div
                data-ui-editable-list-item
                data-label="Height"
                data-display="{{ profile.feet }}' {{ profile.inches }}&quot;"
                data-value="profile.height">
            </div>

            <!-- Weight -->
            <div
                data-ui-editable-list-item
                data-label="Weight"
                data-display="{{ profile.weight_lbs }} lbs"
                data-value="profile.weight_lbs">
            </div>

            <!-- Date of Birth -->
            <div
                data-ui-editable-list-item
                data-label="Date of Birth"
                data-value="">
            </div>

            <!-- Gender -->
            <div
                data-ui-editable-list-item
                data-label="Gender"
                data-value="profile.gender">
            </div>

            <!-- Phone -->
            <div
                data-ui-editable-list-item
                data-label="Phone #"
                data-value="profile.phone">
            </div>

            <!-- Email -->
            <div
                data-ui-editable-list-item
                data-label="Email"
                data-value="profile.email">
            </div>

            <!-- Profile creation date -->
            <div
                data-ui-editable-list-item
                data-label="Profile Created"
                data-display="{{ profile.created_at_formatted }}"
                data-value="profile.created_at"
                data-type="date">
            </div>

        </div>

    </div>
</div>
