/**
 * Copyright Heddoko(TM) 2015, all rights reserved.
 *
 * @brief       Styles for uiAvatar
 * @author      Francis Amankrah (frank@heddoko.com)
 */

.ui-avatar-container {
    position: relative;
    margin: 0 auto;
    width: 1px;
    @include transition(width .8s);

    .ui-avatar-button {
        display: inline-block;
        color: $light-gray;
        background: $blue center center no-repeat;
        background-size: cover;
    }

    .ui-avatar-actions {
        position: absolute;
        padding: 8px 0;
        bottom: 0;
        height: 40px;
        width: 100%;
        background-color: $blue-dark;
        @include opacity(.4);
        @include transition(opacity .3s);
    }

    .ui-avatar-placeholder {
        height: 100%;

        &.uploading {
            background-color: #blue-dark;
            @include opacity(.7);
        }

        .fa {
            position: relative;
            top: 25%;
            padding: 0 40px !important;
            font-size: 3em !important;
        }
    }

    &:hover {
        .ui-avatar-actions {
            @include opacity(.8);
        }
    }
}
