/**
 * Copyright Heddoko(TM) 2015, all rights reserved.
 *
 * @brief       Styles for uiEditableFields
 * @author      Francis Amankrah (frank@heddoko.com)
 */

$muted-color: #777;
$font-size-smaller: 0.7em;

.ui-editable-fields {

    .ui-editable-field-vertical {
        margin: 15px auto;

        .title .pull-right {
            font-size: 0.5em;
        }
    }

    .ui-editable-field-value {
        color: $text-color;
        font-size: 1.2em;
        letter-spacing: 1.1px;

        .edit-icon {
            margin: 0 10px;
            color: $muted-color;
            @include opacity(0);
        }

        .edit-text {
            color: $text-color;

            &:hover, &:focus {
                text-decoration: none;
                background-color: $muted-color;
            }
        }

        &:hover .edit-icon,
        &:focus .edit-icon {
            color: $muted-color;
            text-decoration: none;
            @include opacity(1);
        }
    }

    .ui-editable-field-label {
        font-size: $font-size-smaller;
        text-transform: uppercase;
        color: $muted-color;
    }
}

.ui-editable-fields-actions {
    color: $muted-color;
    font-size: $font-size-smaller;
}

.ui-editable-fields-muted {
    color: $muted-color;
}
