/**
 * Copyright Heddoko(TM) 2015, all rights reserved.
 *
 */

.ui-page-title-background {
    display: inline-block;
    margin: 5px 0 30px 30px;
    position: relative;
    height: 50px;
    // background-color: rgba(59, 214, 178, 0.4);
    background-color: $heddokogreen;
    @include transform(skewX(-26deg));
}
.ui-page-title-background .ui-page-title-skew {
    display: inline-block;
    position: relative;
    top: 0px;
    left: -5px;
    height: 45px;
    background-color: $background-color;
}
.ui-page-title-background .ui-page-title-skew .ui-page-title {
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 28px;
    text-transform: uppercase;
    @include transform(skewX(26deg));
}
.ui-page-title-background .ui-page-title-skew .ui-page-title .fa {
    font-size: 0.9em;
    margin: auto 10px;
}
