<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="signin.html#/"><i class="fa fa-2x fa-slack"></i></a>
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container">

                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="Username or email"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="Password"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="signin.html#/" class="btn btn-primary btn-lg btn-block">Log in</a>
                        </div>
						<section>
							<p class="text-center text-muted text-small">Forgot your password? <a href="signin.html#/pages/forgot-password">Click here</a></p>
							<p class="text-center">New member? Sign up here!</p>
						</section>
						<div class="form-group">
                            <a href="signup.html#/" class="btn btn-primary btn-lg btn-block">Sign up</a>
                        </div>
						<p class="text-center">Don't have a Heddoko suit? Get it here!</p>
						<div class="form-group">
							<a href="signin.html#/" class="btn btn-primary btn-lg btn-block">Order Now</a>
						</div>
                    </fieldset>
                </form>                
            </div>
        </div>
    </div>

</div>