<div class="page-signin">
    <div class="signin-header">
        <i class="icon-heddoko_logo-lg"></i>
        <section class="logo">
            heddoko
        </section>
        <p>more than just a coach</p>
    </div>
    <div class="form-container">

        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                        <input type="email"
                               class="form-control"
                               placeholder="Username or email"
                               >
                </div>
                <div class="form-group">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               >
                </div>
                <div class="form-group">
                    <a href="#/dashboard" class="btn btn-primary btn-lg btn-block">Log in</a>
                </div>
                <section>
                    <p class="text-center text-muted text-small">Forgot your password? <a href="#/pages/forgot">Click here</a></p>
                    <p class="text-center">New member? Sign up here!</p>
                </section>
                <div class="form-group">
                    <a href="#/pages/signup" class="btn btn-primary btn-lg btn-block">Sign up</a>
                </div>
                <p class="text-center">Don't have a Heddoko suit? Get it here!</p>
                <div class="form-group">
                    <a href="signin.html#/" class="btn btn-primary btn-lg btn-block">Order Now</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>