
<!-- Copyright Heddoko(TM) 2016, all rights reserved. -->

<div class="ui-movement-container" ng-style="{height: height}">

    <h1 ng-style="{'text-align': titleAlign}">
        <a ng-if="previousMovement" ng-click="previousMovement()" href="javascript:;">
            <i class="fa fa-arrow-left fa-fw"></i>
        </a>

        {{ title }}

        <a ng-if="nextMovement" ng-click="nextMovement()" href="javascript:;">
            <i class="fa fa-arrow-right fa-fw"></i>
        </a>
    </h1>

    <div style="display: block; margin: 50px 0; text-align: center" class="text-muted">
        <i class="fa fa-cubes fa-fw"></i> In Development...
    </div>

    <div class="controls">

        <a href="javascript:;" class="fa fa-arrow-up controls-up"></a>
        <a href="javascript:;" class="fa fa-arrow-right controls-right"></a>
        <a href="javascript:;" class="fa fa-arrow-down controls-down"></a>
        <a href="javascript:;" class="fa fa-arrow-left controls-left"></a>

    </div>

</div>
