
<div class="page import-page">
    <ui-page-title data-title="'Import'" data-icon="'cloud-upload'"></ui-page-title>

    <!-- Import page -->
    <div ng-show="global.getSelectedProfile().id > 0">
        Import movement data for
        <b>
            <a ng-click="global.store.profileId = 0" href="javascript:;">
                {{ global.getSelectedProfile().first_name + ' ' + global.getSelectedProfile().last_name }}
            </a>
        </b>

        <div class="movement-import row">

            <!-- Import new movement -->
            <div ng-show="isImporting === false" class="col-xs-12 text-center">
                <button
                    ngf-select="import($files)"
                    ngf-drop="import($files)"
                    accept="text/plain,text/csv"
                    ngf-max-size="2MB"
                    multiple
                    class="btn btn-primary btn-circle btn-lg">

                    <i class="fa fa-plus"></i>
                </button>
            </div>

            <!-- Uploading movement file -->
            <div ng-show="isImporting === true" class="col-xs-12 text-center">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
        </div>

        <div ng-show="global.data.importedMovements.length > 0">
            <!-- List of uploaded movements -->
            <div ng-repeat="file in global.data.importedMovements" class="movement-import row">
                <div class="col-md-3 col-md-offset-1">

                    <!-- Movement title -->
                    <input
                        ng-model="file.title"
                        type="text"
                        class="form-control movement-title"
                        placeholder="Movement Title">

                    <!-- Tags -->
                    <ui-taggable-input
                        data-model="file"
                        data-key="tags"
                        data-max-tags="20">
                    </ui-taggable-input>
                </div>

                <div class="col-md-3">

                    <!-- Movement preview -->
                    <div class="row">
                        <div class="col-xs-12">
                            <ui-movement-preview data-aspect-ratio="4:3"></ui-movement-preview>
                        </div>
                    </div>

                    <!-- Delete movement -->
                    <div class="row">
                        <div class="col-xs-12">
                            <a ng-click="deleteMovement(file.id)" href="javascript:;" class="pull-right">
                                Delete Movement <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Edit movement -->
                <div class="col-md-4">
                    <div class="movement-edit row">

                        <!-- Thumbnail link -->
                        <div class="col-md-5 text-right">
                            <a ng-click="selectThumbnail()" href="javascript:;">
                                Choose Thumbnail <i class="fa fa-picture-o"></i>
                            </a>
                        </div>

                        <div class="col-md-1 text-center">
                            <i class="fa fa-angle-double-right"></i>
                        </div>

                        <!-- Video edit link -->
                        <div class="col-md-5 text-left">
                            <a ng-click="editMovement()" href="javascript:;">
                                Edit Video <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Clear button -->
            <div class="movement-import row">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-primary">Done</button>
                </div>
            </div>
        </div>

        <!-- No recently uploaded movement -->
        <div
            ng-show="global.data.importedMovements.length === 0 && isImporting === false"
            class="col-md-6 col-md-offset-3 text-center">

            <h3>There are no movements to display.</h3>
            Once you upload or capture a new movement, it will show up here.
            <br><br>

            <b>Go ahead and use the <i class="fa fa-plus fa-lg fa-fw"></i> button above to start.</b>
        </div>
    </div>

    <!-- No profile selected -->
    <!-- <div ng-show="global.getSelectedProfile().id === 0">
        <div ng-include="'partials/select-profile.html'"></div>
    </div> -->
    <div ng-show="global.getSelectedProfile().id === 0">
        <h3 class="text-center">Select a profile to get started</h3>
        <br>

        <div class="col-md-4 col-md-offset-4 text-center">
            <ui-profile-lookup
                profiles="global.state.profile.list"
                select-profile="global.selectProfile(profile)">
            </ui-profile-lookup>
            <br>

            You can also take this opportunity to
            <a href="#profile/create">create one</a>.
        </div>
    </div>
</div>
