
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="page import-page">
    <header>
        <h1>
            Upload <i class="fa fa-cloud-upload"></i>
            <span></span>
        </h1>

        <!-- Append profile name to page title -->
        <div ng-if="global.getSelectedProfile().id > 0" class="h1-append">
            for
            <a href="#/profiles/{{ global.getSelectedProfile().id }}">
                {{ ::global.getSelectedProfile().firstName }}
                {{ ::global.getSelectedProfile().lastName }}
            </a>

            <small>
                <a ng-click="global.store.profileId = 0" href="javascript:;">
                    (change)
                </a>
            </small>
        </div>
    </header>

    <!-- Import page -->
    <div ng-if="global.getSelectedProfile().id > 0">

        <!-- Import new movement -->
        <div class="movement-import row">
            <div class="col-md-2 col-md-offset-2 text-center">
                <a
                    ngf-select="startImport($files)"
                    ngf-drop="startImport($files)"
                    accept=".csv,.txt"
                    ngf-max-size="1GB"
                    multiple
                    class="btn btn-info btn-metro"
                    style="margin-right: 0">

                    <i class="fa fa-plus"></i>
                </a>
            </div>

            <div ng-if="global.data.importedMovements.length === 0 && global.data.isImporting === false" class="col-md-6">
                <h3>
                    Upload your movement files.
                </h3>

                Once you upload or capture a new movement, it will show up here.
                <br>
                <br>

                <b>
                    Go ahead and use the <i class="fa fa-plus fa-lg fa-fw"></i> button to import
                    your data files.
                </b>
            </div>

            <!-- Uploading movement file -->
            <div ng-if="global.data.isImporting === true" class="col-md-6">

                <!-- Import status -->
                <h3 class="text-center">
                    {{ global.data.import.status }}

                    <br>
                    <small ng-show="global.data.import.queue.length > 1">
                        {{ global.data.import.queue.length }} movement files left.
                    </small>
                    <small ng-show="global.data.import.queue.length <= 1">
                        Almost done...
                    </small>
                </h3>

                <!-- Import progress -->
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="progress">
                        <div
                            class="progress-bar progress-bar-info progress-bar-striped active"
                            role="progressbar"
                            aria-valuenow="{{ global.data.import.progress }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="min-width: 2em;"
                            ng-style="{width: global.data.import.progress + '%'}">

                            {{ global.data.import.progress }}%
                        </div>
                    </div>
                </div>

                <!-- Import actions -->
                <br>
                <div class="col-xs-12 text-center">
                    <div class="btn-group">
                        <button
                            ng-disabled="global.data.importedMovements.length === 0"
                            ng-click="global.data.importedMovements = []"
                            type="button"
                            class="btn btn-default">

                            Clear List
                        </button>

                        <button
                            ng-disabled="global.data.import.queue.length <= 1"
                            ng-click="global.data.import.queue = []"
                            type="button"
                            class="btn btn-danger">

                            Stop Import
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="global.data.importedMovements.length > 0">

            <!-- List of uploaded movements -->
            <div ng-repeat="file in global.data.importedMovements" ng-if="file && file.id" class="movement-import row">

                <div ng-show="!file.isUpdating">

                    <!-- Movement preview -->
                    <div class="col-md-2 col-md-offset-2">
                        <div class="row">
                            <div class="col-xs-12">
                                <ui-movement-preview data-aspect-ratio="4:3"></ui-movement-preview>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <!-- Movement title -->
                        <div class="row">
                            <div class="col-xs-12">
                                <input
                                    ng-model="file.title"
                                    type="text"
                                    class="form-control movement-title"
                                    placeholder="Movement Title">
                            </div>
                        </div>

                        <!-- Tags -->
                        <div class="row">
                            <div class="col-xs-12">
                                <ui-taggable-input
                                    data-model="file"
                                    data-key="tags"
                                    data-max-tags="20">
                                </ui-taggable-input>
                            </div>
                        </div>

                        <!-- Action buttons -->
                        <br>
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- Thumbnail link -->
                                <a
                                    ng-click="selectThumbnail()"
                                    href="javascript:;"
                                    class="btn btn-lg btn-default">

                                    <i class="fa fa-picture-o fa-fw"></i>
                                </a>

                                <!-- Edit -->
                                <a
                                    ng-click="editMovement()"
                                    href="javascript:;"
                                    class="btn btn-lg btn-default">

                                    <i class="fa fa-pencil fa-fw"></i>
                                </a>

                                <!-- Delete -->
                                <a
                                    ng-click="deleteMovement(file)"
                                    href="javascript:;"
                                    class="btn btn-lg btn-danger">

                                    <i class="fa fa-trash-o fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Updating movement details -->
                <div ng-show="file.isUpdating" class="text-center" style="margin: 50px auto;">
                    <i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                </div>
            </div>

            <!-- Clear button -->
            <div class="movement-import row">
                <div class="col-sm-12 text-center">
                    <button
                        ng-click="global.data.importedMovements = []"
                        type="button"
                        class="btn btn-info">

                        Clear List
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading profiles -->
    <div ng-if="global.data.isFetchingProfiles">
        <div ng-include="'partials/loading.html'"></div>
    </div>

    <!-- No profile selected -->
    <div ng-if="!global.data.isFetchingProfiles && global.getSelectedProfile().id === 0">
        <div ng-include="'partials/select-profile.html'"></div>
    </div>
</div>
