
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<section class="demo-trends-section" style="margin: 50px auto 300px;">
    <h2 class="title">
        Training Session Review
        <span></span>
    </h2>
    <br>
    <br>

    <!-- Demo data -->
    <div ng-show="session && metric && isFetchingSessionData === false" class="animate-fade-up">

        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h3 class="text-center">
                    {{ metric.title }}
                </h3>
            </div>

            <div class="col-md-3 demo-trends-info-2">
                <div class="row">

                    <div class="col-sm-4 text-right" style="line-height: 35px">
                        Session:
                    </div>
                    <div class="col-sm-8">
                        <selectize
                            ng-model="selectizeSessionModel"
                            class="form-control text-center"
                            config="selectizeSessionConfig"
                            options="selectizeSessionOptions">
                        </selectize>
                    </div>

                    <div class="col-sm-4 text-right" style="line-height: 35px">
                        Conditions:
                    </div>
                    <div class="col-sm-8" style="line-height: 35px">
                        <b>Sunny, Light Drizzle</b>
                    </div>

                    <div class="col-sm-4 text-right" style="line-height: 35px">
                        Wind:
                    </div>
                    <div class="col-sm-8" style="line-height: 35px">
                        <b>8 km/h</b>
                    </div>

                    <div class="col-sm-4 text-right" style="line-height: 35px">
                        Metric:
                    </div>
                    <div class="col-sm-8">
                        <selectize
                            ng-model="selectizeMetricModel"
                            class="form-control text-center"
                            config="selectizeMetricConfig"
                            options="selectizeMetricOptions">
                        </selectize>
                    </div>
                </div>

                <div class="demo-trends-session-legend" style="height: 80px"></div>

                <div class="row">
                    <div class="col-xs-4 demo-warning" style="height: 70px">
                    </div>

                    <div class="col-xs-8">
                        Throw Count: 157
                        <br>

                        Recommendation:
                        <br>

                        <b style="color: #3bd6b2">Stop Athlete's Training</b>
                    </div>
                </div>
            </div>

            <!-- Metric plots -->
            <div ng-show="isFetchingSelectedMetricData === false">

                <!-- Peak Elbow Angular Velocity -->
                <div ng-show="metric.title == 'Peak Elbow Angular Velocity'" id="chartRow" class="col-md-9">
                    <theme-chart
                        data-type="Line"
                        data-data="chartjsData"
                        data-options="chartjsOptions"
                        data-height="400"
                        data-width="{{ chartjsWidth() }}"
                        data-value="chartjsObject"
                        class="demo-chartjs">
                    </theme-chart>
                </div>

            </div>

            <!-- Loading metric plots -->
            <div ng-show="isFetchingSelectedMetricData === true" class="col-md-9 text-center">
                <i class="fa fa-spinner fa-spin fa-3x" style="margin: 75px auto 0;"></i>
            </div>
        </div>
        <br>
        <br>

        <!-- Filler plots -->
        <div class="row">
            <div class="col-md-9">
                <h3 class="text-center">
                    Energy Expended
                </h3>

                <div morris-chart
                             data-data="fakeData.morris"
                             data-type="area"
                             data-xkey="year"
                             data-ykeys='["a", "b", "c"]'
                             data-labels='["Value A", "Value B", "Value C"]'
                             data-line-colors='{{ fakeData.morrisColours }}'
                             data-line-width="2"
                             ></div>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">
                    Energy Expended
                </h3>

                <canvas
                    data-gauge-chart
                    data-gauge-data="fakeData.gauge.data"
                    data-gauge-options="fakeData.gauge.options"
                    style="width: 340px; height: 170px;">
                </canvas>
            </div>
        </div>
    </div>

    <!-- Loading data -->
    <div ng-show="isFetchingSessionData === true" class="row text-center animate-fade-up">
        <i class="fa fa-spinner fa-spin fa-5x" style="display: block; margin: 200px 0"></i>
    </div>

    <!-- No data selected -->
    <div ng-show="(!session || !metric) && isFetchingSessionData === false" class="row">

        <div class="col-md-12">
            Select a training session and metric to get started.
        </div>
        <br>
        <br>

        <div class="col-md-4 col-md-offset-2">
            <selectize
                ng-model="selectizeSessionModel"
                class="form-control text-center"
                config="selectizeSessionConfig"
                options="selectizeSessionOptions"
                placeholder="Select a training session.">
            </selectize>
        </div>

        <div class="col-md-4">
            <selectize
                ng-model="selectizeMetricModel"
                class="form-control text-center"
                config="selectizeMetricConfig"
                options="selectizeMetricOptions"
                placeholder="Select a metric.">
            </selectize>
        </div>
    </div>

</section>
