
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<section>
    <h2 class="title">
        Historical Data
        <span></span>
    </h2>
    <br>

    <!-- Trendline -->
    <div id="chartRow" class="row">
        <div class="col-xs-12">
            <theme-chart
                data-type="Line"
                data-data="chartjsData"
                data-options="chartjsOptions"
                data-width="{{ chartjsWidth() }}"
                class="demo-chartjs">
            </theme-chart>
        </div>
    </div>

    <h2 class="title">
        Historical Data
        <span></span>
    </h2>
    <br>

    <!-- Bar chart -->
    <div class="row">
        <div class="col-xs-12">
            <theme-chart
                data-type="Bar"
                data-data="chartjsData"
                data-options="chartjsOptions"
                data-width="{{ chartjsWidth() }}"
                class="demo-chartjs">
            </theme-chart>
        </div>
    </div>

    <!-- TBD -->
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <canvas
                data-gauge-chart
                data-gauge-data="gauge.data"
                data-gauge-options="gauge.options"
                style="width: 340px; height: 170px;">
            </canvas>
        </div>

        <div class="col-sm-12 col-md-6">

        </div>
    </div>
</section>
