
<div
    data-ui-editable-list-container
    data-model="global.state.profile.selected"
    data-save="saveProfileDetails"
    data-save-callback="saveProfileDetailsCallback"
    data-heading="{{ global.state.profile.selected.first_name }}'s details">

    <!-- First name -->
    <div
        data-ui-editable-list-item
        data-label="First Name"
        data-key="first_name"
        data-required="true">
    </div>

    <!-- Last name -->
    <div
        data-ui-editable-list-item
        data-label="Last Name"
        data-key="last_name">
    </div>

    <!-- Height -->
    <div
        data-ui-editable-list-item
        data-label="Height"
        data-key="height"
        data-type="length">
    </div>

    <!-- Weight -->
    <div
        data-ui-editable-list-item
        data-label="Weight"
        data-key="mass"
        data-type="mass">
    </div>

    <!-- Date of Birth -->
    <div
        data-ui-editable-list-item
        data-label="Date of Birth"
        data-key="dob"
        data-type="date">
    </div>

    <!-- Gender -->
    <div
        data-ui-editable-list-item
        data-label="Gender"
        data-key="gender"
        data-type="gender">
    </div>

    <!-- Phone -->
    <div
        data-ui-editable-list-item
        data-label="Phone #"
        data-key="phone">
    </div>

    <!-- Email -->
    <div
        data-ui-editable-list-item
        data-label="Email"
        data-key="email">
    </div>

    <!-- Profile creation date -->
    <div
        data-ui-editable-list-item
        data-label="Profile Created"
        data-key="created_at"
        data-type="datetime"
        data-disabled="true">
    </div>

    <!-- Primary Tag -->
    <div
        data-ui-editable-list-item
        data-label="Primary Sport"
        data-key="primary_tag"
        data-type="tag">
    </div>

    <!-- Secondary tags -->
    <div
        data-ui-editable-list-item
        data-label="Other Sports"
        data-key="secondary_tags"
        data-type="tag"
        data-max-tags="10">
    </div>
</div>
