
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="row">

    <!-- Parent folder -->
    <div ng-if="parentFolder" class="col-xs-6 col-md-4 col-lg-3">
        <a href="{{ parentFolder.href }}" class="folder">
            <i class="fa fa-hand-o-left fa-3x"></i>
            <span class="name">
                Back
            </span>
        </a>
    </div>

    <!-- Other folders -->
    <div ng-repeat="folder in folders track by $index" class="col-xs-6 col-md-4 col-lg-3">
        <a href="{{ folder.href }}" class="folder">
            <i class="fa fa-folder-open fa-3x"></i>
            <span class="name">
                {{ folder.name | characters:25 }}
            </span>
        </a>
    </div>

    <!-- Files -->
    <div ng-repeat="file in files track by $index" class="col-sm-12 col-md-6 col-lg-4">
        <a
            href="{{ file.href }}"
            class="aspect-ratio aspect-4-3 card"
            style="background-image: url({{ file.image || '' }})">
            <div>

                <!-- File actions -->
                <div class="data">

                    <!-- Title -->
                    <span class="title" title="{{ file.title }}">
                        {{ file.title | characters:25 }}
                    </span>

                    <!-- Sub title -->
                    <span class="sub-title" ng-if="file.subTitle">
                        {{ ::file.subTitle | characters:25 }}
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
